#contact-page {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 75px;
    padding-bottom: 75px;
    background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url('../../assets/images/matt-jones-dgLp5y_Jhuw-unsplash.jpg');
    background-position: center;
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}


/* #contact-form {
    margin-top: 60px;
    margin-bottom: 50px;
    border: 1px solid white;
    border-radius: 10px;
    padding: 40px;
    filter: drop-shadow(2px 4px 6px black);
    background-color: rgba(152, 151, 151, 0.2);
}


#contact-form-header {
    color: white;
    font-size: 40px;
    font-weight: lighter;
}


#form-slot-1 {
    font-size: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


#form-slot-1 input {
    border-radius: 5px;
    width: 200px;
}

#form-slot-2 {
    font-size: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#form-slot-2 label {
    color: white;
    padding-bottom: 10px;
}

#form-slot-2 input {
    border-radius: 5px;
    width: 200px;
}

#form-slot-3 {
    font-size: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#form-slot-1 label {
    color: white;
    padding-bottom: 10px;
}

#form-slot-3 label {
    color: white;
    padding-bottom: 10px;
}

#form-slot-3 textarea {
    border-radius: 5px;
    font-size: 12px;
}

#form-slot-4 {
    font-size: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#form-slot-4 label {
    color: white;
    padding-bottom: 10px;
}

#form-slot-4 input {
    border-radius: 5px;
    width: 200px;
}

.contact-submit-btn {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-weight: bold;
    font-size: 15px;
}

.contact-submit-btn:hover {
    color: silver;
    border: 1px solid silver;
    transition: .5s ease;
    cursor: pointer;
} */


.contact-info-line {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
}

.contact-info-line p {
    padding-left: 10px;
}

.contact-info-line a {
    text-decoration: underline;
    text-underline-offset: 3px;
    padding-left: 10px;
    color: white;
}

.contact-info-line a:hover {
    color: var(--tertiary-color);
    transition: .3s ease;
}


@media only screen and (min-width: 320px) and (max-width: 479px) {

    #contact-page {
        flex-direction: column;
        align-items: center;
        padding-top: 25px;
    }

    #contact-form {
        width: 60%;
    }

    #form-slot-3 textarea {
        width: 200px;
    }

    #map-info {
        text-align: center;
    }

    #map-info iframe {
        width: 300px;
        height: 300px;
    }

    .contact-info-line p{
        font-size: 15px;
      }

}

@media only screen and (min-width: 480px) and (max-width: 820px) {

    #map-info {
        text-align: center;
    }

    #map-info iframe {
        width: 300px;
        height: 300px;
    }

    .contact-info-line p{
        font-size: 15px;
      }

}
